Makefile
benchmarks/.deps/
benchmarks/Makefile
benchmarks/plot_benchmarks.m
bin/Makefile
blitz-uninstalled.pc
blitz.pc
blitz.pc.in
blitz/Makefile
blitz/array/Makefile
blitz/config.h
blitz/generate/Makefile
blitz/gnu/bzconfig.h
blitz/intel/
blitz/meta/Makefile
blitz/stamp-h1
config.log
config.status
doc/Makefile
doc/doxygen/Doxyfile
doc/doxygen/Makefile
doc/examples/.deps/
doc/examples/Makefile
doc/stencils/Makefile
examples/.deps/
examples/Makefile
lib/.deps/
lib/.libs/
lib/Makefile
lib/globals.lo
lib/globals.o
lib/libblitz.la
libtool
random/Makefile
testsuite/.deps/
testsuite/Makefile
